@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 80%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav{
    width: 100%;
    height: 11vh;
    background-color: white;
    /* background: transparent; */
    display: flex;
    position: fixed;
    top: 0;
}

.left-nav {
    height: 100%;
    width: 15%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: .9vw;
}

.left-nav img {
    /* background-color: blue; */
    color: white;
    margin-right: .5vw;
}

.left-nav h2 {
    font-weight: 600;
}

.mid-nav {
    height: 100%;
    width: 40%;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mid-nav a {
    padding-left: 1.3vw;
    text-decoration: none;
    font-size: 1vw;
    color: black;
    font-weight: 600;
}

.right-nav {
    height: 100%;
    width: 45%;
    /* background-color: peru; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1vw;
}

.right-nav a {
    padding: 0 1vw;
    text-decoration: none;
    font-size: 1vw;
    color: black;
    font-weight: 400;
}

.right-nav i {
    /* padding-right: .5vw: */
    font-size: 1.4vw;
}

.right-nav button {
    padding: .6vw;
    border-radius: 14px;
    font-size: 1vw;
    font-weight: 600;
    color: white;
    background-color: blue;
    border: none;
    margin-left: .3vw;
}

.container {
    height: 90%;
    width: 60%;
    margin-top: 9vw;
    /* background-color: red; */
}

.container h1 {
    font-size: 3vw;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    margin-bottom: 1vw;
    color: white;
}

.container h3 {
    font-size: 1.1vw;
    font-weight: 500;
    text-align: center;
    color: white;
}

.plan button{
    height: 5vw;
    width: 15vw;
    background-color: rgb(28, 187, 250);
    text-align: center;
    margin-left: 24vw;
    margin-top: 1.9vw;
    border-radius: 12px;
    border: none;
    font-size: 1.1vw;
    font-weight: 500;
}

.plan button i {
    padding-left: .7vw;
    font-weight: 400;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 2vw;
}

.signup input {
    width: 20vw;
    height: 3vw;
    background: transparent;
    border: .6px solid rgb(169, 167, 167);
    padding-left: .9vw;
    font-size: 1.2vw;
    margin-right: .8vw;
}

.signup input placeholder {
    color: white;
}

.signup button {
    width: 13vw;
    height: 3vw;
    background: transparent;
    font-size: 1.2vw;
    font-weight: 500;
    color: white;
    border: 1.5px solid white;
    border-radius: 12px;
}

.wrapper-1 {
    height: 120vh;
    width: 100%;
    background-color: black;
}

.wrapper-2 {
    height: 80vh;
    width: 100%;
    background-color: blue;
}

.wrapper-2-container {
height: 100%;
width: 100%;
background-color: black;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding-top: 1vw;
}

.wrapper-2-container h2 {
    font-size: 2.5vw;
    font-weight: 500;
    color: white;
}

.wrapper-2-info {
    height: 86%;
    width: 82%;
    /* background-color: lightcoral; */
    display: flex;
    margin-top: 3vw;
}

.info-box-1 {
    height: 100%;
    width: 25%;
    /* background-color: red; */
    color: white;
}

.info-box-1 h3 {
    margin-bottom: 1vw;
}
.wrapper-2 button {
    height: 2vw;
    width: 10vw;
    border-radius: 50px;
    color: blue;
    background-color: lightblue;
    border: none;
    margin-bottom: .2vw;
}

.wrapper-3 {
    height: 40vh;
    width: 100%;
    background-color: black;
    text-align: center;
    padding-top: .8vw;
}

.wrapper-3 h2 {
    font-size: 3vw;
    font-weight: 300;
    color: white;
}

.wrapper-3 p {
    font-size: 1.1vw;
    font-weight: 400;
    color: white;
    margin-top: .5vw;
}

.wrapper-3 button {
    height: 5vw;
    width: 16vw;
    background-color: rgb(59, 117, 235);
    color: black;
    margin-top: 2vw;
    border: none;
    border-radius: 20px;
    font-size: 1.1vw;
    font-weight: 600;
}

.wrapper-3 button i {
    padding-left: .4vw;
}

.wrapper-4 {
    height: 45vw;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-4-container {
    height: 30vw;
    width: 48vw;
    /* background-color: red; */
    border-radius: 10px;
    background-image: url(dash-updated-start-page-ui-2048x1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-5 {
    height: 53vw;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-5 h2 {
    font-size: 2.7vw;
    font-weight: 500;
    color: white;
}

.wrapper-5-main-container {
    height: 65%;
    width: 88%;
    /* background-color: white; */
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle-container1 {
    height: 100%;
    width: 49%;
    /* background-color: red; */
}

.img1 {
    height: 40%;
    width: 100%;
    /* background-color: darkkhaki; */
    background-image: url(teams-ui-1272x424.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-info1 {
    height: 60%;
    width: 100%;
    background-color: rgb(33, 32, 32);
    padding-left: 3vw;
    padding-top: 2.4vw;
}

.img-info1 h3 {
    font-size: 1.8vw;
    font-weight: 600;
    color: white;
    padding-bottom: 2vw;
}

.img-info1 p {
    font-size: 1.1vw;
    color: white;
    padding-bottom: 4.3vw;
}

.img-info1 button {
    height: 4vw;
    width: 17vw;
    border-radius: 17px;
    font-size: 1.1vw;
    font-weight: 600;
    border: none;
    background-color: rgb(44, 149, 241);
    /* margin-top: 5vw; */
}

.img-info1 button i {
    padding-left: 1vw;
}

.middle-container2 {
    height: 100%;
    width: 49%;
    /* background-color: red; */
}

.img2 {
    height: 40%;
    width: 100%;
    /* background-color: darkkhaki; */
    background-image: url(professionals-ui-1272x424.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-info2 {
    height: 60%;
    width: 100%;
    background-color: rgb(33, 32, 32);
    padding-left: 3vw;
    padding-top: 2.4vw;
}

.img-info2 h3 {
    font-size: 1.8vw;
    font-weight: 600;
    color: white;
    padding-bottom: 2vw;
}

.img-info2 p {
    font-size: 1.1vw;
    color: white;
    padding-bottom: 2.5vw;
}

.img-info2 button {
    height: 4vw;
    width: 20vw;
    border-radius: 17px;
    font-size: 1.1vw;
    font-weight: 600;
    border: none;
    background-color: rgb(44, 149, 241);
    /* margin-top: 5vw; */
}

.img-info2 button i {
    padding-left: 1vw;
}

.wrapper-6 {
    height: 40vw;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.wrapper-6-main-container {
    height: 60%;
    width: 90%;
    /* background-color: rgb(115, 170, 33); */
    display: flex;
    margin-left: 3vw;
    padding-left: 4vw;
    margin-top: 2vw;
}

.box-1 {
    height: 100%;
    width: 15%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    /* padding-left: 1vw; */
}

.box-1 h3 {
    padding-bottom: .6vw;
    font-size: 1.4vw;
    font-weight: 500;
}

.box-1 a {
    text-decoration: none;
    padding-top: .8vw;
    color: white;
    font-size: .9vw;
    font-weight: 500;
}

.wrapper-6-logo {
    height: 10vh;
    width: 9vw;
    /* background-color: red; */
    font-size: 1.9vw;
    margin-right: 68vw;
    border: none;
    border-bottom: 1px solid grey;
    color: white;
    padding-top: .2vw;
}

.wrapper-6-logo i {
    padding-right: .5vw;
}

.wrapper-6-text {
    height: 10vh;
    width: 18vw;
    /* background-color: red; */
    margin-right: 62vw;
    margin-top: 1vw;
    padding-top: 1.4vw;
    font-size: 1.1vw;
    padding-left: 1.5vw;
}

.wrapper-6-text a {
    text-decoration: none;
    color: white;
}

.wrapper-6-text i {
    color: white;
    font-size: 1.4vw;
    font-weight: 100;
}
.third {
    visibility: hidden;
}

@media (max-width:500px){
    .wrapper {
        height: 1%;  
    }

    .nav {
        height: 7vh;
    }

    .left-nav img {
        height: 15vw;
        width: 18vw;
        padding-left: 3vw;
    }

    .third {
        visibility:visible;
        /* position: absolute;
        top: 0;
        right: 0;
        padding-right: 4vw;
        padding-bottom:3vw;
        font-size: 6vw; */
    }
    
    .left-nav h2{
        display: none;
    }

    .mid-nav {
        display: none;
    }

    .third {
        margin-top: 4vw;
        margin-left: 75vw;
        font-size: 6vw;
        
    }

    .right-nav {
        display: none;
        margin-left: 28vw;
    }

    .right-nav a {
        margin-right: 1vw;
    }

    .right-nav button {
        display: none;
    }

    .right-nav i {
        display: none;
    }

    .right-nav .get-app {
        display: none;
    }

    .right-nav a {
        font-size: 3.3vw;
        font-weight: 600;
    }

     /* .dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 90%;
        width: 100%;
        top: 0;
        left: 0;
        padding: 6vw;
    }

    .dropdown a{
        font-size: 3vw;
        margin: 3vw 0;
    }

    .dropdown button {
        display: none;
    }  */

    .container {
        height: 30vw;
        padding-top: 35vw;
    }

    .container h1 {
        font-size: 6vw;
        line-height: 1.2;
        /* align-items: normal; */
    }

    .container h3 {
        font-size: 2.1vw;
        font-weight: 500;
        margin-top: 1.5vw;
    }

    .plan {
        margin-left: 13vw;
    }

    .plan button{
        height: 9vw;
        width: 28vw;
        font-size: 2.4vw; 
        margin: 4vw;
    }

    .signup input {
        height: 6vw;
        width: 35vw;
        font-size: 2.3vw;
    }

    .signup button {
        height: 6vw;
        width: 30vw;
        border: .3px solid white;
        font-size: 1.9vw;
        font-weight: 500;
        margin-left: 1vw;
        margin-bottom: 1vw;
    }

    .wrapper-1 {
        height: 80vh;
        padding-top: 70vw;
    }

    .wrapper-1 video {
        height: 100%;
        width: 100%;
    } 

    .wrapper-2  {
        height: 100vw;
    }

    .wrapper-2-container {
        width: 100%;
    }

    .wrapper-2-container h2 {
        font-size: 4vw;
        padding-bottom: 8vw;
    }

    .info-box-1 {
        width: 35%;
        padding-left: 1.5vw;
        margin-left: 2vw;
    }
    
    .info-box-1 img {
        height: 13vw;
        width: 13vw;
    }

    .info-box-1 h3 {
        font-size: 2.3vw;
        font-weight: 300;
        padding-bottom: .5vw;
    }

    .info-box-1 p {
        font-size: 1.8vw;
        font-weight: 200;
    }

    .wrapper-2-container button {
        height: 5vw;
        width: 25vw;
        font-size: 2vw;
        margin-bottom: 4vw;
    }

    .wrapper-3 {
        height: 20vw;
    }

    .wrapper-3 h2 {
        font-size: 4.2vw;
    }

    .wrapper-3 p {
        font-size: 1.7vw;
        font-weight: 200;
    }

    .wrapper-3 button {
        width: 23vw;
        height: 6vw;
        font-size: 1.8vw;
        font-weight: 600;
        margin-top: 4vw;
    }

    .wrapper-4 {
        height: 70vw;
    }

    .wrapper-4-container {
        height: 85%;
        width: 85%;
        margin-top: 7vw;
    } 

    .wrapper-5 {
        height: 100vw;
        width: 100%;
    }

    .wrapper-5 h2 {
        font-size: 5vw;
    }

    .wrapper-5-main-container {
        height: 65%;
        margin-top: 5vw;
    }

    .img-info1 h3 {
        font-size: 3.7vw;
    }

    .img-info1 p{
        font-size: 2vw;
    }

    .img-info1 button {
        width: 20vw;
        font-size: 1.4vw;
        margin-top: 4vw;
    }

    .img-info2 h3 {
        font-size: 3.7vw;
    }

    .img-info2 p{
        font-size: 2vw;
    }

    .img-info2 button {
        width: 27vw;
        font-size: 1.5vw;
    }

    .wrapper-6 {
        height: 70vw;
    }

    .wrapper-6-main-container {
        height: 90%;
        padding-left: 1vw;
        margin-right: 2vw;
    }

    .box-1 {
        width: 30%;
    }

    .box-1 h3 {
        font-size: 1.8vw;
    }

    .box-1 a {
        font-size: 1.4vw;
        font-weight: 300;
    }

    .box-5 {
        padding-left: 3vw;
    }

    .box-4 {
        padding-left: 2.5vw;
    }

    .box-3 {
        padding-left: 2.5vw;
    }

    .wrapper-6-logo {
        height: 10vw;
        width: 17vw;
        font-size: 3.7vw;
    }

    .wrapper-6-text {
        /* background-color: red; */
        width: 26vw;
        height: 15vw;
        margin-left: 1vw;
        font-size: 1.6vw;
        margin-top: 1vw;
    }

    .wrapper-6-text i {
        font-size: 2vw;
    }

}  